In [1]:
# Importowanie potrzebnych pakietów:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import seaborn as sns

from sklearn.pipeline import make_pipeline, Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import RobustScaler, StandardScaler, OneHotEncoder, scale, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.base import TransformerMixin, BaseEstimator
from sklearn.utils import class_weight
from sklearn.metrics import accuracy_score, roc_curve, f1_score, roc_auc_score, classification_report
from xgboost.sklearn import XGBClassifier
from scipy.stats import norm
from scipy import stats
from sklearn.svm import SVC

from warnings import filterwarnings
filterwarnings("ignore")

# Ustawienia wyświetlania data frame'ów:
pd.set_option('display.max_columns', 50) # żeby nie ucinało kolumn przy wyświetlaniu
pd.set_option('float_format', '{:.2f}'.format) # floaty mają się zaogrąglać do dwóch miejść po przecinku

In [2]:
URL = 'https://raw.githubusercontent.com/saimadhu-polamuri/DataHakthon3X/master/dataSet/Train.csv'

def extract(url: str) -> pd.DataFrame:
    if url[:8] == 'https://' and url[-4:] == '.csv':
        return pd.read_csv(url, encoding='latin1', skipinitialspace=True)
    else:
        raise UnsupportedFormatError

def split_data(data: pd.DataFrame) -> pd.DataFrame:
    y = data.Disbursed
    X = data.drop(['Disbursed'], axis=1)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y)
    return X_train, X_test, y_train, y_test

def print_df_description(df: pd.DataFrame) -> pd.DataFrame:
    df_size = df.shape[0]
    col_types = [df[column].dtype for column in df.columns]
    count_nan = [df[column].isna().sum(axis=0) for column in df.columns]
    nan_percentage = [n / df_size * 100 for n in count_nan]
    count_zeros = [(df.shape[0] - len(df[column].nonzero()[0])) for column in df.columns]
    zeros_percentage = [z / df_size * 100 for z in count_zeros]
    unique_values_num = [np.unique(df[column].astype(str)).size for column in df.columns]
    unique_values = [np.unique(df[column].astype(str)) for column in df.columns]
    df_describe = pd.DataFrame({
        'Column_names': df.columns, 'Column_types': col_types, 
        'Num_of_NaN': count_nan, 'NaN_%': nan_percentage, 
        'Num_of_zeros': count_zeros, 'Zeros_%': zeros_percentage, 
        'Unique_val_amt': unique_values_num, 'Unique_values': unique_values})
    return df_describe

In [3]:
data = extract(URL) # wczytanie danych z linku poprzez funkcję własną
X_train, X_test, y_train, y_test = split_data(data) # podział danych na zbiór treningowy i testowy

In [4]:
def get_unique_values(column: pd.DataFrame) -> dict:
    """
    Funkcja, która dla danej zmiennej w postaci pd.DataFrame tworzy słownik unikalnych wartości w taki sposób, 
    że kluczami będą kolejne liczby, zaś wartościami kolejne unikalne wartości zmiennej.
    Przykład.
    Dla zmiennej określającej płeć (Female / Male) wynik będzie następujący: {0: 'Female', 1: 'Male'}
    """
    unique_values = np.unique(column)
    wynik = {}
    for val in range(unique_values.size):
        wynik[val] = [unique_values[val]]
    return wynik

def get_groups(groups: dict) -> dict:
    """
    Funkcja, która stworzy schemat, dzięki któremu zmienna w pd.DataFrame będzie mogła zostać "zmapowana".
    Schemat tworzony jest na podstawie słownika, będącego wynikiem funkcji `get_unique_values`. 
    """
    wynik = {}
    for key, value in groups.items():
        for name in value:
            wynik[name] = int(key)
    return wynik

In [5]:
# schematy do mapowania zmiennych kategorycznych
gender_schema = get_groups(get_unique_values(X_train['Gender']))
mobile_verified_schema = get_groups(get_unique_values(X_train['Mobile_Verified']))
var1_schema = get_groups(get_unique_values(X_train['Var1']))
filled_form_schema = get_groups(get_unique_values(X_train['Filled_Form']))
device_type_schema = get_groups(get_unique_values(X_train['Device_Type']))
var2_schema = get_groups(get_unique_values(X_train['Var2']))

# tworzę ręcznie słownik dla zmapowania miesięcy, które w zmiennej są wpisane jako pierwsze 3 litery miesiąca
MONTH_GROUPS = {1: ['Jan'], 2: ['Feb'], 3: ['Mar'], 4: ['Apr'], 5: ['May'], 6: ['Jun'], 
                7: ['Jul'], 8: ['Aug'], 9: ['Sep'], 10: ['Oct'], 11: ['Nov'], 12: ['Dec'],}
months_schema = get_groups(MONTH_GROUPS)

In [6]:
def transform(df: pd.DataFrame) -> pd.DataFrame:
    YEAR = datetime.datetime.now().year

    df['Gender'].replace(gender_schema, inplace=True)
    df['Mobile_Verified'].replace(mobile_verified_schema, inplace=True)
    df['Var1'].replace(var1_schema, inplace=True)
    df['Filled_Form'].replace(filled_form_schema, inplace=True)
    df['Device_Type'].replace(device_type_schema, inplace=True)
    df['Var2'].replace(var2_schema, inplace=True)

    df.DOB = df.DOB.apply(lambda x: YEAR - int('19' + str(x[-2:])))

    df.Lead_Creation_Date = df.Lead_Creation_Date.apply(lambda x: (x[3:-3]))
    df['Lead_Creation_Date'].replace(months_schema, inplace=True)
    df.Lead_Creation_Date = df.Lead_Creation_Date.astype(int)

    df.Source = df.Source.apply(lambda x: x[1:]).astype(int)
    
    df.City = df.City.astype(str)
    df.City = df.City.apply(lambda x: x.upper()).astype(str)

    df.Employer_Name = df.Employer_Name.astype(str)
    df.Employer_Name = df.Employer_Name.apply(lambda x: x.upper())

    df.Salary_Account = df.Salary_Account.astype(str)
    df.Salary_Account = df.Salary_Account.apply(lambda x: x.upper())

    df.drop(['ID', 'LoggedIn'], axis=1, inplace=True)
    
    return df

In [7]:
# obrabiam wstępnie dane treningowe oraz wyświetlam opis danych
transform(X_train)
# print_df_description(X_train)

,Gender,City,Monthly_Income,DOB,Lead_Creation_Date,Loan_Amount_Applied,Loan_Tenure_Applied,Existing_EMI,Employer_Name,Salary_Account,Mobile_Verified,Var5,Var1,Loan_Amount_Submitted,Loan_Tenure_Submitted,Interest_Rate,Processing_Fee,EMI_Loan_Submitted,Filled_Form,Device_Type,Var2,Source,Var4
83041,1,CHENNAI,210000,36,7,200000.00,0.00,0.00,ALKEM LABORATORIES LTD,STATE BANK OF INDIA,1,17,13,200000.00,4.00,nan,nan,nan,0,1,6,122,3
34474,0,DELHI,10500,25,6,100000.00,2.00,3500.00,PAISLEY EXPORT PVT LTD,NAN,0,0,13,nan,nan,nan,nan,nan,0,1,1,133,1
48453,1,MUMBAI,48000,29,6,0.00,0.00,0.00,BNP PARIBAS INDIA SOLUTIONS PVT LTD,AXIS BANK,1,8,2,730000.00,4.00,14.85,14600.00,20260.98,1,0,2,122,5
27735,1,DELHI,23243,30,6,0.00,0.00,0.00,EXL SERVICE.COM INDIA PVT LTD,ICICI BANK,1,3,1,360000.00,5.00,16.75,7200.00,8898.61,1,0,2,133,5
82812,1,MUMBAI,129500,47,7,1000000.00,5.00,38000.00,TYPE SLOWLY FOR AUTO FILL,ICICI BANK,1,13,13,1000000.00,5.00,nan,nan,nan,0,1,6,122,3
41151,0,INDORE,38500,40,6,300000.00,5.00,18600.00,STI INDIA LTD,AXIS BANK,0,0,13,nan,nan,nan,nan,nan,0,1,1,133,1
23024,0,NAGPUR,14500,40,5,100000.00,3.00,0.00,AARPEE ENTERPRISES,NAN,0,0,13,nan,nan,nan,nan,nan,0,1,1,133,1
83206,0,HYDERABAD,19000,27,7,0.00,0.00,0.00,TECH MAHINDRA LTD,ICICI BANK,1,2,13,320000.00,4.00,nan,nan,nan,0,0,6,122,3
45644,0,MUMBAI,35000,37,6,300000.00,1.00,20000.00,INGRAM MICRO INDIA LTD,HDFC BANK,0,0,13,nan,nan,nan,nan,nan,0,1,1,133,1
62154,0,MUMBAI,12000,28,7,70000.00,1.00,5000.00,SUBHASH BHAGATE,ICICI BANK,0,0,13,nan,nan,nan,nan,nan,0,1,6,122,1
83491,1,MUMBAI,62000,41,7,600000.00,5.00,20000.00,BA CONTINUUM INDIA PVT LTD,STANDARD CHARTERED BANK,1,18,11,700000.00,5.00,13.00,1000.00,15927.15,1,1,6,122,5
116,1,BASTAR,38000,48,5,500000.00,5.00,15000.00,TEACHERS,STATE BANK OF INDIA,1,10,13,430000.00,5.00,nan,nan,nan,0,1,1,133,3
15011,1,SURAT,20000,34,5,0.00,0.00,0.00,OMHARI TEXTILE PVT. LTD,CANARA BANK,1,3,10,290000.00,5.00,20.00,2900.00,7683.23,1,0,2,151,5
83538,1,CHENNAI,16000,29,7,0.00,0.00,0.00,ARUDRA ENGINEERS PRIVATE LIMITED,SYNDICATE BANK,1,1,13,260000.00,4.00,nan,nan,nan,0,0,6,122,3
48873,0,BHUBANESWAR,34000,33,6,100000.00,5.00,7100.00,BISWARANJAN BHOLA,AXIS BANK,0,8,13,nan,nan,nan,nan,nan,0,1,1,159,3
67147,1,PUNE,200000,37,7,200000.00,3.00,18000.00,GIRISH ATMARAM MAHAJAN,ICICI BANK,1,12,13,200000.00,3.00,nan,nan,nan,0,1,6,122,3
28347,1,PUNE,23445,33,6,300000.00,5.00,0.00,DIPAK PATIL,SYNDICATE BANK,1,3,10,300000.00,5.00,20.00,3000.00,7948.17,0,1,1,133,4
56666,1,PUNE,27000,30,7,0.00,0.00,0.00,VOLKSWAGEN,NAN,1,11,11,440000.00,4.00,14.49,4356.00,12132.08,0,1,6,122,4
22932,1,HYDERABAD,54000,36,5,500000.00,4.00,4000.00,HIDDEN BRAINS INFOTECH PVT LTD,HDFC BANK,1,15,9,500000.00,4.00,22.00,12500.00,15753.04,1,1,1,137,5
63798,0,ALAPPUZHA,10000,47,7,50000.00,2.00,2500.00,PRIVATE FIRM,ICICI BANK,0,0,13,nan,nan,nan,nan,nan,0,1,6,122,1
60834,1,ALLAHABAD,24000,32,7,0.00,0.00,0.00,ABBOTT TRUECARE PHARMA PVT LTD,HDFC BANK,1,1,10,560000.00,5.00,14.25,4480.00,13102.92,1,0,6,122,5
14731,1,KOLKATA,20000,27,5,0.00,0.00,0.00,HT MEDIA LTD,HDFC BANK,1,3,13,310000.00,5.00,nan,nan,nan,0,0,2,122,2
13034,0,DELHI,32500,32,5,100000.00,3.00,4300.00,EBSAVVY INFOTECH PVT LTD,HDFC BANK,0,12,13,nan,nan,nan,nan,nan,0,1,1,133,3
83579,1,HYDERABAD,55000,31,7,1000000.00,5.00,0.00,HINDUSTAN PETROLEUM CORPORATION LTD,ICICI BANK,1,17,8,1100000.00,5.00,13.99,5500.00,25589.37,0,1,6,122,4
50818,0,POLLACHI,10250,28,6,200000.00,3.00,0.00,M.SASIKUMAR,SYNDICATE BANK,0,0,13,nan,nan,nan,nan,nan,0,1,1,159,1
19664,1,VADODARA,50000,36,5,0.00,0.00,0.00,GOVERNMENT HOSPITAL,BANK OF BARODA,1,14,13,820000.00,5.00,nan,nan,nan,0,0,2,133,3
70925,1,JAIPUR,28000,33,7,0.00,0.00,0.00,BOSCH LTD,ICICI BANK,1,5,2,500000.00,4.00,14.85,10000.00,13877.39,1,0,6,122,5
80175,1,DELHI,26000,31,7,0.00,0.00,0.00,BARCLAYS SHARED SERVICES PVT LTD,HDFC BANK,1,6,9,450000.00,4.00,27.00,9000.00,15427.05,1,0,6,122,5
72876,1,MUMBAI,60000,34,7,0.00,0.00,20000.00,THERMO FISHER SCIENTIFIC,HDFC BANK,1,17,8,330000.00,4.00,13.99,1650.00,9016.08,1,1,6,122,5
75192,0,GANDHINAGAR,190000,38,7,0.00,0.00,0.00,MER TELECOM TANZANIA,IDBI BANK,0,0,13,nan,nan,nan,nan,nan,0,0,6,122,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41196,1,CHENNAI,40000,35,6,500000.00,5.00,0.00,HCL TECHNOLOGIES LTD,AXIS BANK,1,14,13,500000.00,5.00,nan,nan,nan,0,1,1,133,3
23045,1,DELHI,35000,34,5,0.00,0.00,0.00,CROMPTON GREAVES LTD,AXIS BANK,1,7,13,700000.00,5.00,nan,nan,nan,0,0,2,133,2
74439,1,MUMBAI,18000,30,7,0.00,0.00,0.00,ONWARD E-SERVICE PVT LTD,KOTAK BANK,1,1,13,290000.00,4.00,nan,nan,nan,0,0,6,122,3
55792,0,PUNE,27500,39,7,40000.00,3.00,1100.00,MPTA EDUCATION LTD,STATE BANK OF INDIA,0,0,13,nan,nan,nan,nan,nan,0,1,6,122,1
11732,1,DELHI,58000,40,5,0.00,0.00,0.00,BLOOMBURG,YES BANK,1,7,2,1000000.00,5.00,14.85,20000.00,23711.27,1,0,2,122,5
40449,1,BENGALURU,55000,37,6,1000000.00,5.00,9500.00,PHANI,HDFC BANK,1,15,13,1000000.00,5.00,nan,nan,nan,0,1,1,133,3
78724,1,BENGALURU,12000,33,7,200000.00,3.00,0.00,MANJUNATH,UCO BANK,1,1,13,160000.00,3.00,nan,nan,nan,0,1,6,122,3
19438,1,SONIPAT,16000,37,5,300000.00,3.00,0.00,SONA PLASTIC INDUSTRIES,NAN,1,1,13,250000.00,3.00,nan,nan,nan,0,1,1,144,3
81796,1,VIJAYAWADA,27000,34,7,200000.00,5.00,0.00,BENNETT COLEMAN,HDFC BANK,1,8,13,200000.00,5.00,nan,nan,nan,0,1,6,122,3
16889,1,HYDERABAD,20200,29,5,200000.00,4.00,0.00,BUILDMATE PROJECTS,ICICI BANK,1,3,13,200000.00,4.00,nan,nan,nan,0,1,1,133,3
54186,0,GAUTAM BUDDHA NAGAR,23000,36,7,100000.00,0.00,0.00,SOPL,STATE BANK OF INDIA,0,0,13,nan,nan,nan,nan,nan,0,1,6,122,1
74581,0,HISAR,17500,30,7,100000.00,0.00,2000.00,OM DIESELS PVT LTD,HDFC BANK,0,1,13,nan,nan,nan,nan,nan,0,1,6,122,3
16704,1,MUMBAI,20400,32,5,200000.00,5.00,0.00,TRIVONE DIGITAL SERVICES PVT LTD,CANARA BANK,1,3,1,200000.00,5.00,24.00,4000.00,5753.59,1,1,1,133,5
1083,0,RANGAREDDY,12000,50,5,100000.00,2.00,2000.00,G.DURGA RAO,KOTAK BANK,0,0,13,nan,nan,nan,nan,nan,0,1,1,133,1
8711,1,CHENNAI,30000,33,5,0.00,0.00,0.00,ABBOTT HEALTH CARE PVT LTD,HDFC BANK,1,6,10,490000.00,5.00,14.25,3920.00,11465.05,1,0,5,133,5
9068,0,DELHI,17500,31,5,0.00,0.00,0.00,SAMARA AUTO MAX PVT LTD,KOTAK BANK,0,0,13,nan,nan,nan,nan,nan,0,0,2,133,1
67229,0,DELHI,8000,28,7,0.00,0.00,0.00,VASAN EYE CARE HOSPITAL,HDFC BANK,0,0,13,nan,nan,nan,nan,nan,0,0,6,122,1
75384,1,HYDERABAD,43800,32,7,350000.00,4.00,9049.00,SEVENHILLS EHEALTH PVT.LTD,INDIAN OVERSEAS BANK,1,12,2,350000.00,4.00,14.85,7000.00,9714.17,0,1,6,122,4
62759,1,MURSHIDABAD,16825,39,7,200000.00,5.00,0.00,AEGON RELIGARE LIFE INSURANCE COMPANY LTD,CITIBANK,1,1,10,200000.00,5.00,18.25,2000.00,5105.92,1,1,6,122,5
39610,0,PUNE,38000,38,6,30000.00,1.00,0.00,SYMANTEC SOFTWARE & SERVICES INDIA PVT LTD,HDFC BANK,0,0,13,nan,nan,nan,nan,nan,0,1,1,122,1
57103,1,ARIYALUR,25000,38,7,0.00,0.00,0.00,0,NAN,1,0,13,nan,nan,nan,nan,nan,0,1,6,122,0
10483,1,DELHI,100000,39,5,200000.00,2.00,0.00,NISSAN ASHOK LEYLAND POWERTRAIN LTD,HDFC BANK,1,16,13,200000.00,2.00,nan,nan,nan,0,1,1,122,3
70226,0,JAIPUR,23800,35,7,200000.00,5.00,5000.00,VIVEKANAND PVT ITI JAIPUR,HDFC BANK,0,0,13,nan,nan,nan,nan,nan,0,1,6,122,1
65661,0,BENGALURU,15800,30,7,100000.00,2.00,0.00,ALLEN CAREER INSTITUTE,CENTRAL BANK OF INDIA,0,1,13,nan,nan,nan,nan,nan,0,1,6,122,3
64641,0,MUMBAI,21500,34,7,300000.00,5.00,6934.00,SHRI SAI KRISHNA TRANSPORT CORPORATION,NAN,0,0,13,nan,nan,nan,nan,nan,0,1,6,122,1
81089,1,DELHI,32000,31,7,0.00,0.00,0.00,WEBHELP INDIA PVT LTD,ICICI BANK,1,2,8,570000.00,4.00,13.99,2850.00,15573.23,1,0,6,122,5
63141,1,HOWRAH,250000,35,7,1000000.00,5.00,0.00,COGNIZANT TECHNOLOGY SOLUTIONS INDIA PVT LTD,CITIBANK,1,8,13,1000000.00,5.00,nan,nan,nan,0,1,6,122,3
11944,0,MUMBAI,30000,30,5,0.00,3.00,14000.00,SNEHAL PATIL,STATE BANK OF INDIA,0,0,13,nan,nan,nan,nan,nan,0,1,1,133,1
59484,1,VISAKHAPATNAM,32000,44,7,100000.00,2.00,0.00,P.KISHORE BABU,STATE BANK OF HYDERABAD,1,10,3,100000.00,2.00,15.25,2000.00,4860.55,0,1,6,122,4
31092,0,PATNA,10000,23,6,1000000.00,5.00,5000.00,NAVBHARATH FERTILISERS,PUNJAB NATIONAL BANK,0,0,13,nan,nan,nan,nan,nan,0,1,1,133,1

In [8]:
# tworzę listy najczęściej występujących miast i banków
df_cities = pd.DataFrame(X_train.City.value_counts())
often_cities_list = (df_cities[(df_cities['City'] > 250)].index)

df_salary_accounts = pd.DataFrame(X_train.Salary_Account.value_counts())
often_banks_list = (df_salary_accounts[(df_salary_accounts['Salary_Account'] > 250)].index)

In [9]:
# obsługa outlier'ów - w pierwszej kolejności wypiszę rozkłądy ćwiartkowe i podstawowe statystyki
outliers = ['Monthly_Income', 'Loan_Amount_Applied', 'Existing_EMI', 'Loan_Amount_Submitted', 
            'Interest_Rate', 'Processing_Fee', 'EMI_Loan_Submitted']
Q1 = X_train.quantile(0.25)
Q2 = X_train.quantile(0.5)
Q3 = X_train.quantile(0.75)
IQR = Q3 - Q1

In [10]:
mins = np.min(X_train) # minimalne wartości zmiennych
maxs = np.max(X_train) # maksymalne -||-
means = np.mean(X_train) # średnie -||-
left = Q1 - 1.5 * IQR # wyliczam lewy brzeg zakresu, który należy uznać za normalny dla zmiennych
right = Q3 + 1.5 * IQR # analogicznie wyliczam prawy brzeg
std = np.std(X_train) # odchylenie standardowe

In [11]:
# wyświetlam powyższe wyliczenia dla zmiennych z outlier'ami
pd.DataFrame({'Q1': Q1[outliers], 'Q2': Q2[outliers], 'Q3': Q3[outliers], 'IQR': IQR[outliers], 
              'min': mins[outliers], 'max': maxs[outliers], 'std': std[outliers], 'mean': means[outliers],
              'left (Q1 - 1.5x IQR)': left[outliers], 'right (Q3 + 1.5x IQR)': right[outliers]})

,Q1,Q2,Q3,IQR,min,max,std,mean,left (Q1 - 1.5x IQR),right (Q3 + 1.5x IQR)
Monthly_Income,16500.00,25000.00,40000.00,23500.00,0,444554443,2428931.76,62512.21,-18750.00,75250.00
Loan_Amount_Applied,0.00,100000.00,300000.00,300000.00,0.00,10000000.00,355472.19,230043.25,-450000.00,750000.00
Existing_EMI,0.00,0.00,3500.00,3500.00,0.00,10000000.00,44280.53,3740.95,-5250.00,8750.00
Loan_Amount_Submitted,200000.00,300000.00,500000.00,300000.00,50000.00,3000000.00,308807.21,395413.81,-250000.00,950000.00
Interest_Rate,15.25,18.00,20.00,4.75,11.99,37.00,5.84,19.20,8.12,27.12
Processing_Fee,2000.00,4000.00,6250.00,4250.00,200.00,50000.00,4752.86,5155.66,-4375.00,12625.00
EMI_Loan_Submitted,6492.52,9431.45,12970.28,6477.76,1176.41,144748.28,7578.72,11028.62,-3224.12,22686.92

In [12]:
# tworzę granice "normalności", które przyjmę dla zmiennych odstających
right_MonInc = right['Monthly_Income']
right_LoanAmtApp = right['Loan_Amount_Applied']
right_ExEMI = right['Existing_EMI']
right_LoanAmtSub = right['Loan_Amount_Submitted']
right_IntRate = right['Interest_Rate']
left_IntRate = left['Interest_Rate']
right_ProcFee = right['Processing_Fee']
right_EMISub = right['EMI_Loan_Submitted']

In [13]:
# grupy do zmapowania pozostałych zmiennych kategorycznych na numeryczne wg wcześniej ustalonej listy unikatów
city_schema = get_groups(get_unique_values(often_cities_list))
city_schema['OTHERS'] = 30
salary_schema = get_groups(get_unique_values(often_banks_list))
salary_schema['OTHERS'] = 30

#### **Tutaj dla braków danych zastosuję średnią zamiast zer oraz usunę zmienne, o których niewiele wiemy (np. Var1).**

In [14]:
def transform1(df: pd.DataFrame) -> pd.DataFrame:
    df.City = df.City.apply(lambda x: x if x in often_cities_list else 'OTHERS')
    df['City'].replace(city_schema, inplace=True)

    df.Salary_Account = df.Salary_Account.apply(lambda x: x if x in often_banks_list else 'OTHERS')
    df['Salary_Account'].replace(salary_schema, inplace=True)
    
    df.Interest_Rate.fillna(means.Interest_Rate, inplace=True) # zmienna jest obsługiwana poniżej, ale uzupełnienie 0 nie działało
    df.Loan_Tenure_Applied.fillna(means.Loan_Tenure_Applied, inplace=True)
    df.Loan_Tenure_Submitted.fillna(means.Loan_Tenure_Submitted, inplace=True)

    df.Monthly_Income = df.Monthly_Income.apply(
        lambda x: means.Monthly_Income if x == np.nan else x if x < right_MonInc else right_MonInc)
    df.Loan_Amount_Applied = df.Loan_Amount_Applied.apply(
        lambda x: means.Loan_Amount_Applied if x == np.nan else x if x < right_LoanAmtApp else right_LoanAmtApp)
    df.Existing_EMI = df.Existing_EMI.apply(
        lambda x: means.Existing_EMI if x == np.nan else x if x < right_ExEMI else right_ExEMI)
    df.Loan_Amount_Submitted = df.Loan_Amount_Submitted.apply(
        lambda x: means.Loan_Amount_Submitted if x == np.nan else x if x < right_LoanAmtSub else right_LoanAmtSub)
    df.Interest_Rate = df.Interest_Rate.apply(
        lambda x: right_IntRate if x > right_IntRate else left_IntRate if x < left_IntRate else x)
    df.Processing_Fee = df.Processing_Fee.apply(
        lambda x: means.Processing_Fee if x == np.nan else x if x < right_ProcFee else right_ProcFee)
    df.EMI_Loan_Submitted = df.EMI_Loan_Submitted.apply(
        lambda x: means.EMI_Loan_Submitted if x == np.nan else x if x < right_EMISub else right_EMISub)
    
    df.drop(['Employer_Name', 'Var5', 'Var1', 'Var2', 'Var4', 'Source'], axis=1, inplace=True)

    return df

In [15]:
# dokonuję finalnej transformacji danych
transform1(X_train)
# print_df_description(X_train)

,Gender,City,Monthly_Income,DOB,Lead_Creation_Date,Loan_Amount_Applied,Loan_Tenure_Applied,Existing_EMI,Salary_Account,Mobile_Verified,Loan_Amount_Submitted,Loan_Tenure_Submitted,Interest_Rate,Processing_Fee,EMI_Loan_Submitted,Filled_Form,Device_Type
83041,1,4,75250.00,36,7,200000.00,0.00,0.00,25,1,200000.00,4.00,19.20,12625.00,22686.92,0,1
34474,0,7,10500.00,25,6,100000.00,2.00,3500.00,19,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
48453,1,19,48000.00,29,6,0.00,0.00,0.00,1,1,730000.00,4.00,14.85,12625.00,20260.98,1,0
27735,1,7,23243.00,30,6,0.00,0.00,0.00,11,1,360000.00,5.00,16.75,7200.00,8898.61,1,0
82812,1,19,75250.00,47,7,750000.00,5.00,8750.00,11,1,950000.00,5.00,19.20,12625.00,22686.92,0,1
41151,0,13,38500.00,40,6,300000.00,5.00,8750.00,1,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
23024,0,20,14500.00,40,5,100000.00,3.00,0.00,19,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
83206,0,12,19000.00,27,7,0.00,0.00,0.00,11,1,320000.00,4.00,19.20,12625.00,22686.92,0,0
45644,0,19,35000.00,37,6,300000.00,1.00,8750.00,9,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
62154,0,19,12000.00,28,7,70000.00,1.00,5000.00,11,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
83491,1,19,62000.00,41,7,600000.00,5.00,8750.00,22,1,700000.00,5.00,13.00,1000.00,15927.15,1,1
116,1,30,38000.00,48,5,500000.00,5.00,8750.00,25,1,430000.00,5.00,19.20,12625.00,22686.92,0,1
15011,1,25,20000.00,34,5,0.00,0.00,0.00,5,1,290000.00,5.00,20.00,2900.00,7683.23,1,0
83538,1,4,16000.00,29,7,0.00,0.00,0.00,26,1,260000.00,4.00,19.20,12625.00,22686.92,0,0
48873,0,30,34000.00,33,6,100000.00,5.00,7100.00,1,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
67147,1,24,75250.00,37,7,200000.00,3.00,8750.00,11,1,200000.00,3.00,19.20,12625.00,22686.92,0,1
28347,1,24,23445.00,33,6,300000.00,5.00,0.00,26,1,300000.00,5.00,20.00,3000.00,7948.17,0,1
56666,1,24,27000.00,30,7,0.00,0.00,0.00,19,1,440000.00,4.00,14.49,4356.00,12132.08,0,1
22932,1,12,54000.00,36,5,500000.00,4.00,4000.00,9,1,500000.00,4.00,22.00,12500.00,15753.04,1,1
63798,0,30,10000.00,47,7,50000.00,2.00,2500.00,11,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
60834,1,30,24000.00,32,7,0.00,0.00,0.00,9,1,560000.00,5.00,14.25,4480.00,13102.92,1,0
14731,1,16,20000.00,27,5,0.00,0.00,0.00,9,1,310000.00,5.00,19.20,12625.00,22686.92,0,0
13034,0,7,32500.00,32,5,100000.00,3.00,4300.00,9,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
83579,1,12,55000.00,31,7,750000.00,5.00,0.00,11,1,950000.00,5.00,13.99,5500.00,22686.92,0,1
50818,0,30,10250.00,28,6,200000.00,3.00,0.00,26,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
19664,1,27,50000.00,36,5,0.00,0.00,0.00,2,1,820000.00,5.00,19.20,12625.00,22686.92,0,0
70925,1,14,28000.00,33,7,0.00,0.00,0.00,11,1,500000.00,4.00,14.85,10000.00,13877.39,1,0
80175,1,7,26000.00,31,7,0.00,0.00,0.00,9,1,450000.00,4.00,27.00,9000.00,15427.05,1,0
72876,1,19,60000.00,34,7,0.00,0.00,8750.00,9,1,330000.00,4.00,13.99,1650.00,9016.08,1,1
75192,0,30,75250.00,38,7,0.00,0.00,0.00,12,0,950000.00,3.89,19.20,12625.00,22686.92,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41196,1,4,40000.00,35,6,500000.00,5.00,0.00,1,1,500000.00,5.00,19.20,12625.00,22686.92,0,1
23045,1,7,35000.00,34,5,0.00,0.00,0.00,1,1,700000.00,5.00,19.20,12625.00,22686.92,0,0
74439,1,19,18000.00,30,7,0.00,0.00,0.00,18,1,290000.00,4.00,19.20,12625.00,22686.92,0,0
55792,0,24,27500.00,39,7,40000.00,3.00,1100.00,25,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
11732,1,7,58000.00,40,5,0.00,0.00,0.00,28,1,950000.00,5.00,14.85,12625.00,22686.92,1,0
40449,1,1,55000.00,37,6,750000.00,5.00,8750.00,9,1,950000.00,5.00,19.20,12625.00,22686.92,0,1
78724,1,1,12000.00,33,7,200000.00,3.00,0.00,30,1,160000.00,3.00,19.20,12625.00,22686.92,0,1
19438,1,30,16000.00,37,5,300000.00,3.00,0.00,19,1,250000.00,3.00,19.20,12625.00,22686.92,0,1
81796,1,30,27000.00,34,7,200000.00,5.00,0.00,9,1,200000.00,5.00,19.20,12625.00,22686.92,0,1
16889,1,12,20200.00,29,5,200000.00,4.00,0.00,11,1,200000.00,4.00,19.20,12625.00,22686.92,0,1
54186,0,9,23000.00,36,7,100000.00,0.00,0.00,25,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
74581,0,30,17500.00,30,7,100000.00,0.00,2000.00,9,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
16704,1,19,20400.00,32,5,200000.00,5.00,0.00,5,1,200000.00,5.00,24.00,4000.00,5753.59,1,1
1083,0,30,12000.00,50,5,100000.00,2.00,2000.00,18,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
8711,1,4,30000.00,33,5,0.00,0.00,0.00,9,1,490000.00,5.00,14.25,3920.00,11465.05,1,0
9068,0,7,17500.00,31,5,0.00,0.00,0.00,18,0,950000.00,3.89,19.20,12625.00,22686.92,0,0
67229,0,7,8000.00,28,7,0.00,0.00,0.00,9,0,950000.00,3.89,19.20,12625.00,22686.92,0,0
75384,1,12,43800.00,32,7,350000.00,4.00,8750.00,14,1,350000.00,4.00,14.85,7000.00,9714.17,0,1
62759,1,30,16825.00,39,7,200000.00,5.00,0.00,7,1,200000.00,5.00,18.25,2000.00,5105.92,1,1
39610,0,24,38000.00,38,6,30000.00,1.00,0.00,9,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
57103,1,30,25000.00,38,7,0.00,0.00,0.00,19,1,950000.00,3.89,19.20,12625.00,22686.92,0,1
10483,1,7,75250.00,39,5,200000.00,2.00,0.00,9,1,200000.00,2.00,19.20,12625.00,22686.92,0,1
70226,0,14,23800.00,35,7,200000.00,5.00,5000.00,9,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
65661,0,1,15800.00,30,7,100000.00,2.00,0.00,6,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
64641,0,19,21500.00,34,7,300000.00,5.00,6934.00,19,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
81089,1,7,32000.00,31,7,0.00,0.00,0.00,11,1,570000.00,4.00,13.99,2850.00,15573.23,1,0
63141,1,30,75250.00,35,7,750000.00,5.00,0.00,7,1,950000.00,5.00,19.20,12625.00,22686.92,0,1
11944,0,19,30000.00,30,5,0.00,3.00,8750.00,25,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
59484,1,28,32000.00,44,7,100000.00,2.00,0.00,24,1,100000.00,2.00,15.25,2000.00,4860.55,0,1
31092,0,23,10000.00,23,6,750000.00,5.00,5000.00,21,0,950000.00,3.89,19.20,12625.00,22686.92,0,1

In [16]:
# analogicznie transformuję dane testowe
transform(X_test)
transform1(X_test)
# print_df_description(X_test)

,Gender,City,Monthly_Income,DOB,Lead_Creation_Date,Loan_Amount_Applied,Loan_Tenure_Applied,Existing_EMI,Salary_Account,Mobile_Verified,Loan_Amount_Submitted,Loan_Tenure_Submitted,Interest_Rate,Processing_Fee,EMI_Loan_Submitted,Filled_Form,Device_Type
66075,1,1,23000.00,27,7,200000.00,3.00,4000.00,11,1,200000.00,3.00,19.20,12625.00,22686.92,0,1
23787,0,1,75250.00,36,5,750000.00,5.00,8750.00,7,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
82963,0,12,18000.00,30,7,300000.00,5.00,0.00,2,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
65127,1,8,75250.00,35,7,200000.00,3.00,0.00,18,1,200000.00,3.00,19.20,12625.00,22686.92,0,1
25243,0,11,30000.00,24,5,0.00,0.00,0.00,19,0,950000.00,3.89,19.20,12625.00,22686.92,0,0
20845,0,19,19800.00,32,5,50000.00,2.00,0.00,19,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
61037,0,16,10000.00,34,7,0.00,0.00,0.00,19,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
84264,1,30,37000.00,30,7,200000.00,5.00,0.00,0,1,200000.00,5.00,19.20,12625.00,22686.92,0,1
19047,0,7,17000.00,44,5,150000.00,3.00,5000.00,20,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
2651,0,1,28000.00,29,5,300000.00,2.00,0.00,8,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
2020,0,24,51000.00,28,5,500000.00,3.00,8750.00,9,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
37088,0,4,37000.00,33,6,0.00,1.00,1814.00,17,1,170000.00,3.00,19.75,2550.00,6296.18,0,1
27428,1,12,25000.00,32,6,100000.00,2.00,3550.00,11,1,100000.00,2.00,19.20,12625.00,22686.92,0,1
58892,0,4,25000.00,36,7,200000.00,3.00,0.00,11,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
68055,1,1,54000.00,34,7,750000.00,3.00,0.00,11,1,950000.00,3.00,19.20,12625.00,22686.92,0,1
26435,1,24,17000.00,34,5,750000.00,5.00,0.00,11,1,380000.00,5.00,19.20,12625.00,22686.92,0,1
63458,0,27,30000.00,29,7,100000.00,1.00,0.00,25,1,100000.00,1.00,19.20,12625.00,22686.92,0,1
30970,0,7,35000.00,46,6,0.00,0.00,0.00,25,1,540000.00,5.00,19.20,12625.00,22686.92,0,0
46530,1,3,13000.00,33,6,0.00,0.00,0.00,30,1,190000.00,4.00,27.12,3800.00,7462.06,1,0
31898,1,30,30000.00,26,6,0.00,0.00,0.00,25,1,450000.00,5.00,20.00,4500.00,11922.25,1,0
22962,1,12,31000.00,31,5,300000.00,4.00,0.00,9,1,300000.00,4.00,15.35,1500.00,8402.55,0,1
62332,1,7,34000.00,30,7,500000.00,5.00,0.00,1,1,500000.00,5.00,19.20,12625.00,22686.92,0,1
9486,0,11,15600.00,30,5,100000.00,3.00,0.00,11,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
135,0,30,50000.00,58,5,200000.00,2.00,8750.00,25,1,200000.00,2.00,19.20,12625.00,22686.92,0,1
36459,0,4,14800.00,29,6,100000.00,2.00,0.00,11,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
12336,1,30,24000.00,26,5,200000.00,3.00,0.00,20,1,200000.00,3.00,24.00,4000.00,7846.57,1,1
65831,0,19,45000.00,32,7,0.00,0.00,0.00,25,1,780000.00,4.00,15.25,12625.00,21806.96,1,0
54198,1,7,29500.00,56,7,200000.00,4.00,4500.00,22,1,200000.00,4.00,16.50,3000.00,5719.40,0,1
19746,1,30,75250.00,29,5,100000.00,3.00,0.00,11,1,100000.00,3.00,21.50,2500.00,3793.23,1,1
23500,1,1,75250.00,41,5,0.00,0.00,0.00,8,1,950000.00,5.00,20.00,12625.00,22686.92,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85978,0,7,11500.00,36,7,300000.00,4.00,5000.00,1,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
83013,0,30,16450.00,61,7,500000.00,0.00,0.00,25,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
53856,1,1,40000.00,29,6,100000.00,2.00,8750.00,9,1,100000.00,2.00,19.20,12625.00,22686.92,0,1
58846,0,12,20115.00,40,7,300000.00,5.00,0.00,9,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
65079,0,4,20000.00,36,7,300000.00,2.00,0.00,1,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
69950,1,14,18000.00,29,7,0.00,0.00,0.00,21,1,290000.00,4.00,19.20,12625.00,22686.92,0,0
63102,1,24,12600.00,34,7,0.00,0.00,0.00,1,1,200000.00,4.00,19.20,12625.00,22686.92,0,0
73688,0,4,46000.00,34,7,150000.00,2.00,0.00,30,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
23487,0,19,15000.00,31,5,200000.00,4.00,5000.00,9,1,130000.00,4.00,19.20,12625.00,22686.92,0,1
21414,0,1,15000.00,31,5,200000.00,3.00,0.00,25,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
61418,1,7,25000.00,40,7,0.00,0.00,0.00,19,1,950000.00,3.89,19.20,12625.00,22686.92,0,1
5610,1,19,32000.00,32,5,100000.00,3.00,5000.00,9,1,100000.00,3.00,15.75,1500.00,3503.37,0,1
83389,1,4,29000.00,34,7,0.00,0.00,0.00,25,1,540000.00,4.00,19.20,12625.00,22686.92,0,0
40457,1,7,75250.00,34,6,750000.00,5.00,0.00,9,1,950000.00,5.00,19.20,12625.00,22686.92,0,1
16258,1,11,50000.00,35,5,0.00,0.00,0.00,19,1,950000.00,3.89,19.20,12625.00,22686.92,0,1
9666,0,7,8500.00,32,5,200000.00,2.00,0.00,30,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
54364,1,28,52969.00,50,7,0.00,0.00,0.00,25,1,900000.00,4.00,19.20,12625.00,22686.92,0,0
13298,1,10,50000.00,49,5,0.00,0.00,0.00,11,1,820000.00,5.00,14.85,12625.00,19443.24,1,0
85617,1,19,75250.00,32,7,0.00,0.00,0.00,9,1,950000.00,4.00,13.99,7500.00,22686.92,1,0
24060,0,17,9000.00,37,5,100000.00,3.00,2000.00,27,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
5005,0,4,18500.00,32,5,750000.00,5.00,8500.00,25,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
85065,1,1,30000.00,29,7,0.00,0.00,0.00,11,1,560000.00,4.00,19.20,12625.00,22686.92,0,0
66826,0,21,20000.00,29,7,300000.00,0.00,8750.00,9,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
34043,0,12,23900.00,28,6,500000.00,3.00,0.00,22,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
6695,1,22,26000.00,37,5,140000.00,3.00,7825.00,11,1,140000.00,3.00,19.20,12625.00,22686.92,0,1
27942,1,4,22000.00,28,6,0.00,0.00,0.00,7,1,340000.00,5.00,16.75,6800.00,8404.24,1,0
78540,1,24,29000.00,36,7,200000.00,5.00,8750.00,1,1,180000.00,4.00,27.00,3600.00,6170.82,1,1
3836,0,24,50000.00,34,5,300000.00,1.00,0.00,25,1,300000.00,1.00,19.20,12625.00,22686.92,0,1
23133,0,11,11142.00,32,5,200000.00,5.00,2000.00,27,0,950000.00,3.89,19.20,12625.00,22686.92,0,1
62966,0,4,24000.00,27,7,0.00,0.00,0.00,7,0,950000.00,3.89,19.20,12625.00,22686.92,0,1

In [19]:
# tworzę klasę do selekcji zmiennych wg nazw
class ColumnSelectorByName(TransformerMixin, BaseEstimator):
    
    def __init__(self, columns):
        self.columns = columns
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        return X[self.columns]

# wypisuję listy zmiennych, które oryginalnie były kategoryczne i użyję na nich 
# OneHotEncoder'a, a także zmienne numeryczne, które zestandaryzuję
originally_categorical_features = ['Gender', 'City', 'DOB', 'Lead_Creation_Date', 
                                   'Salary_Account', 'Mobile_Verified', 'Filled_Form', 'Device_Type']
numerical_features = ['Monthly_Income', 'Loan_Amount_Applied', 'Loan_Tenure_Applied', 
                      'Existing_EMI', 'Interest_Rate', 'Loan_Amount_Submitted', 'Loan_Tenure_Submitted', 
                      'Processing_Fee', 'EMI_Loan_Submitted']
    
# tworzę pipeline'y, które użyję do transformatora
categorical_pipeline = Pipeline([
    ('selector', ColumnSelectorByName(originally_categorical_features)),
    ('onehot', OneHotEncoder(sparse=False, handle_unknown='ignore')),
])

numeric_pipeline = Pipeline([
    ('selector', ColumnSelectorByName(numerical_features)),
    ('scaler', StandardScaler()),
])

# transformator - preprocessor, który agreguje powyższe pipeline'y
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_pipeline, numerical_features),
        ('cat', categorical_pipeline, originally_categorical_features),
    ]
)

In [20]:
# tworzę np.array mapujący wagi dla y_train - niektóre modele (np. XGBoost) nie przujmuje wag jako słowników
df_weights = y_train.copy()
weight_0 = 0.5
weight_1 = 10
df_weights = df_weights.apply(lambda x: weight_0 if x == 0 else weight_1)
class_weights0510 = df_weights.values

In [21]:
# analogicznię robię listę dla innych wag, 0.5 / 5:
df_weights = y_train.copy()
weight_0 = 0.5
weight_1 = 5
df_weights = df_weights.apply(lambda x: weight_0 if x == 0 else weight_1)
class_weights055 = df_weights.values

# Zagregowany GridSearch

In [29]:
names_agg = ['LogisticRegression', 'XGBoost', 'RandomForestClassifier',]

models_agg = [[('scaler', preprocessor), ('model', LogisticRegression())], 
              [('model', XGBClassifier())], 
              [('model', RandomForestClassifier())]]

param_grids = [
    {'model__C': [0.1, 0.01, 0.001], 
     'model__class_weight': [{0: 0.5, 1: 5}, {0: 0.5, 1:10}],
     'model__penalty': ['l1', 'l2'],
     'model__tol': [0.1, 0.01, 0.001],
    },
    {'model__learning_rate': [0.1, 0.01], 
     'model__max_depth': [50, 75, 100],
     'model__n_estimators': [50, 75],
    },
    {'model__class_weight': [{0: 0.5, 1: 5}, {0: 0.5, 1: 10}],
     'model__max_depth': [20, 50, 75, 100],
     'model__min_samples_leaf': [400, 500, 750],
     'model__n_estimators': [20, 50, 75, 100],
    },
]           

best_models_agg = []
best_params_agg = []

for name, pipe, params in zip(names_agg, models_agg, param_grids):
    print("---!!!---", name)
    pipeline = Pipeline(pipe)
    if name == 'XGBoost':
        gs = GridSearchCV(estimator=pipeline, param_grid=params, refit=True, return_train_score=True, 
                          fit_params={'model__sample_weight': class_weights0510}, scoring='f1')
    else:
        gs = GridSearchCV(estimator=pipeline, param_grid=params, refit=True, return_train_score=True, 
                          scoring='f1')
    gs.fit(X_train, y_train)
    
    for mean, std, parametry, fittime in zip(
                            gs.cv_results_["mean_test_score"],
                            gs.cv_results_["std_test_score"],
                            gs.cv_results_["params"],
                            gs.cv_results_["mean_fit_time"]):
        print(f'mean = {(np.round(mean, 5))} || std = {(np.round(std, 5))} || time [s] = {np.round(fittime, 5)}')
        print(f'Best params: {parametry}')
    print()
    
    best_models_agg.append(gs.best_estimator_) # zapisujemy model z najlepszymi parametrami
    best_params_agg.append(gs.best_params_) # oraz najlepsze wyniki

---!!!--- LogisticRegression
mean = 0.09092 || std = 0.00872 || time [s] = 0.36314
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l1', 'model__tol': 0.1}
mean = 0.08957 || std = 0.00758 || time [s] = 1.34918
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l1', 'model__tol': 0.01}
mean = 0.0898 || std = 0.00763 || time [s] = 2.21783
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l1', 'model__tol': 0.001}
mean = 0.09237 || std = 0.0088 || time [s] = 0.42486
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l2', 'model__tol': 0.1}
mean = 0.09145 || std = 0.00748 || time [s] = 0.45765
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l2', 'model__tol': 0.01}
mean = 0.09145 || std = 0.00748 || time [s] = 0.57247
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l2', 'model__tol': 0.001}
mean = 0.10379 || std = 0.01076 || time [s] = 0.39981
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l1', 'model__tol': 0.1}
mean = 0.10453 || std = 0.00961 || time [s] = 1.74593
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l1', 'model__tol': 0.01}
mean = 0.10459 || std = 0.00965 || time [s] = 2.33079
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l1', 'model__tol': 0.001}
mean = 0.10628 || std = 0.01102 || time [s] = 0.39293
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l2', 'model__tol': 0.1}
mean = 0.10534 || std = 0.0104 || time [s] = 0.46214
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l2', 'model__tol': 0.01}
mean = 0.10531 || std = 0.01042 || time [s] = 0.64616
Best params: {'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l2', 'model__tol': 0.001}
mean = 0.08653 || std = 0.00214 || time [s] = 0.37887
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l1', 'model__tol': 0.1}
mean = 0.08397 || std = 0.00464 || time [s] = 0.44121
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l1', 'model__tol': 0.01}
mean = 0.08283 || std = 0.00584 || time [s] = 0.52471
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l1', 'model__tol': 0.001}
mean = 0.08819 || std = 0.008 || time [s] = 0.33847
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l2', 'model__tol': 0.1}
mean = 0.08896 || std = 0.00899 || time [s] = 0.35585
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l2', 'model__tol': 0.01}
mean = 0.08897 || std = 0.00905 || time [s] = 0.36419
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l2', 'model__tol': 0.001}
mean = 0.09915 || std = 0.00782 || time [s] = 0.44205
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l1', 'model__tol': 0.1}
mean = 0.09897 || std = 0.00854 || time [s] = 0.50452
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l1', 'model__tol': 0.01}
mean = 0.09888 || std = 0.00857 || time [s] = 0.66342
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l1', 'model__tol': 0.001}
mean = 0.10229 || std = 0.00878 || time [s] = 0.32218
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l2', 'model__tol': 0.1}
mean = 0.10264 || std = 0.00866 || time [s] = 0.38246
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l2', 'model__tol': 0.01}
mean = 0.10264 || std = 0.00866 || time [s] = 0.40317
Best params: {'model__C': 0.01, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l2', 'model__tol': 0.001}
mean = 0.0 || std = 0.0 || time [s] = 0.27394
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l1', 'model__tol': 0.1}
mean = 0.0 || std = 0.0 || time [s] = 0.29736
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l1', 'model__tol': 0.01}
mean = 0.0 || std = 0.0 || time [s] = 0.34143
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l1', 'model__tol': 0.001}
mean = 0.07066 || std = 0.00552 || time [s] = 0.27515
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l2', 'model__tol': 0.1}
mean = 0.07066 || std = 0.00552 || time [s] = 0.30802
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l2', 'model__tol': 0.01}
mean = 0.07066 || std = 0.00552 || time [s] = 0.31511
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 5}, 'model__penalty': 'l2', 'model__tol': 0.001}
mean = 0.08855 || std = 0.00483 || time [s] = 0.2704
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l1', 'model__tol': 0.1}
mean = 0.08795 || std = 0.00542 || time [s] = 0.28805
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l1', 'model__tol': 0.01}
mean = 0.08798 || std = 0.00539 || time [s] = 0.31667
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l1', 'model__tol': 0.001}
mean = 0.10132 || std = 0.01003 || time [s] = 0.2964
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l2', 'model__tol': 0.1}
mean = 0.10098 || std = 0.00901 || time [s] = 0.292
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l2', 'model__tol': 0.01}
mean = 0.101 || std = 0.00904 || time [s] = 0.3233
Best params: {'model__C': 0.001, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l2', 'model__tol': 0.001}

---!!!--- XGBoost
mean = 0.05848 || std = 0.01662 || time [s] = 11.32425
Best params: {'model__learning_rate': 0.1, 'model__max_depth': 50, 'model__n_estimators': 50}
mean = 0.04592 || std = 0.01345 || time [s] = 16.98873
Best params: {'model__learning_rate': 0.1, 'model__max_depth': 50, 'model__n_estimators': 75}
mean = 0.05848 || std = 0.01662 || time [s] = 10.98594
Best params: {'model__learning_rate': 0.1, 'model__max_depth': 75, 'model__n_estimators': 50}
mean = 0.04592 || std = 0.01345 || time [s] = 16.61818
Best params: {'model__learning_rate': 0.1, 'model__max_depth': 75, 'model__n_estimators': 75}
mean = 0.05848 || std = 0.01662 || time [s] = 10.99578
Best params: {'model__learning_rate': 0.1, 'model__max_depth': 100, 'model__n_estimators': 50}
mean = 0.04592 || std = 0.01345 || time [s] = 16.66803
Best params: {'model__learning_rate': 0.1, 'model__max_depth': 100, 'model__n_estimators': 75}
mean = 0.07124 || std = 0.01191 || time [s] = 10.50742
Best params: {'model__learning_rate': 0.01, 'model__max_depth': 50, 'model__n_estimators': 50}
mean = 0.07427 || std = 0.00895 || time [s] = 15.81774
Best params: {'model__learning_rate': 0.01, 'model__max_depth': 50, 'model__n_estimators': 75}
mean = 0.07124 || std = 0.01191 || time [s] = 10.55506
Best params: {'model__learning_rate': 0.01, 'model__max_depth': 75, 'model__n_estimators': 50}
mean = 0.07427 || std = 0.00895 || time [s] = 15.97694
Best params: {'model__learning_rate': 0.01, 'model__max_depth': 75, 'model__n_estimators': 75}
mean = 0.07124 || std = 0.01191 || time [s] = 10.56661
Best params: {'model__learning_rate': 0.01, 'model__max_depth': 100, 'model__n_estimators': 50}
mean = 0.07427 || std = 0.00895 || time [s] = 15.82441
Best params: {'model__learning_rate': 0.01, 'model__max_depth': 100, 'model__n_estimators': 75}

---!!!--- RandomForestClassifier
mean = 0.0 || std = 0.0 || time [s] = 0.4435
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 400, 'model__n_estimators': 20}
mean = 0.00194 || std = 0.00274 || time [s] = 1.07255
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 400, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 1.68473
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 400, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.30354
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 400, 'model__n_estimators': 100}
mean = 0.0 || std = 0.0 || time [s] = 0.4356
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 500, 'model__n_estimators': 20}
mean = 0.0 || std = 0.0 || time [s] = 1.03881
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 500, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 1.55738
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 500, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.18923
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 500, 'model__n_estimators': 100}
mean = 0.0 || std = 0.0 || time [s] = 0.43756
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 750, 'model__n_estimators': 20}
mean = 0.0 || std = 0.0 || time [s] = 0.99785
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 750, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 1.47855
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 750, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.18506
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 20, 'model__min_samples_leaf': 750, 'model__n_estimators': 100}
mean = 0.00567 || std = 0.0046 || time [s] = 0.62627
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 400, 'model__n_estimators': 20}
mean = 0.0 || std = 0.0 || time [s] = 1.42172
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 400, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 1.84638
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 400, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.65507
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 400, 'model__n_estimators': 100}
mean = 0.0 || std = 0.0 || time [s] = 0.53875
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 500, 'model__n_estimators': 20}
mean = 0.0 || std = 0.0 || time [s] = 1.58894
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 500, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 2.07237
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 500, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.27365
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 500, 'model__n_estimators': 100}
mean = 0.0 || std = 0.0 || time [s] = 0.41123
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 750, 'model__n_estimators': 20}
mean = 0.0 || std = 0.0 || time [s] = 2.72328
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 750, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 1.82799
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 750, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.39831
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 50, 'model__min_samples_leaf': 750, 'model__n_estimators': 100}
mean = 0.00194 || std = 0.00274 || time [s] = 0.49816
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 400, 'model__n_estimators': 20}
mean = 0.00196 || std = 0.00276 || time [s] = 1.39407
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 400, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 1.98077
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 400, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.10125
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 400, 'model__n_estimators': 100}
mean = 0.0 || std = 0.0 || time [s] = 0.43616
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 500, 'model__n_estimators': 20}
mean = 0.0 || std = 0.0 || time [s] = 1.22602
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 500, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 1.63677
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 500, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.33642
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 500, 'model__n_estimators': 100}
mean = 0.0 || std = 0.0 || time [s] = 0.41636
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 750, 'model__n_estimators': 20}
mean = 0.0 || std = 0.0 || time [s] = 1.13649
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 750, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 1.54265
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 750, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.17851
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 75, 'model__min_samples_leaf': 750, 'model__n_estimators': 100}
mean = 0.00379 || std = 0.00536 || time [s] = 0.51697
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 400, 'model__n_estimators': 20}
mean = 0.0 || std = 0.0 || time [s] = 1.16887
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 400, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 1.84734
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 400, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.26076
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 400, 'model__n_estimators': 100}
mean = 0.0 || std = 0.0 || time [s] = 0.52091
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 500, 'model__n_estimators': 20}
mean = 0.0 || std = 0.0 || time [s] = 1.14779
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 500, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 1.75954
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 500, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.36133
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 500, 'model__n_estimators': 100}
mean = 0.0 || std = 0.0 || time [s] = 0.53536
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 750, 'model__n_estimators': 20}
mean = 0.0 || std = 0.0 || time [s] = 1.16426
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 750, 'model__n_estimators': 50}
mean = 0.0 || std = 0.0 || time [s] = 1.79867
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 750, 'model__n_estimators': 75}
mean = 0.0 || std = 0.0 || time [s] = 2.09456
Best params: {'model__class_weight': {0: 0.5, 1: 5}, 'model__max_depth': 100, 'model__min_samples_leaf': 750, 'model__n_estimators': 100}
mean = 0.12169 || std = 0.00729 || time [s] = 0.45368
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 400, 'model__n_estimators': 20}
mean = 0.12203 || std = 0.00185 || time [s] = 1.16416
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 400, 'model__n_estimators': 50}
mean = 0.12216 || std = 0.00907 || time [s] = 1.7387
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 400, 'model__n_estimators': 75}
mean = 0.11771 || std = 0.00331 || time [s] = 2.35087
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 400, 'model__n_estimators': 100}
mean = 0.1135 || std = 0.0094 || time [s] = 0.42868
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 500, 'model__n_estimators': 20}
mean = 0.11855 || std = 0.01053 || time [s] = 1.24813
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 500, 'model__n_estimators': 50}
mean = 0.11575 || std = 0.00935 || time [s] = 1.89724
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 500, 'model__n_estimators': 75}
mean = 0.11657 || std = 0.00218 || time [s] = 2.41377
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 500, 'model__n_estimators': 100}
mean = 0.09621 || std = 0.00159 || time [s] = 0.39247
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 750, 'model__n_estimators': 20}
mean = 0.10157 || std = 0.00231 || time [s] = 0.93876
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 750, 'model__n_estimators': 50}
mean = 0.10814 || std = 0.00632 || time [s] = 1.38911
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 750, 'model__n_estimators': 75}
mean = 0.10291 || std = 0.00994 || time [s] = 1.87281
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 20, 'model__min_samples_leaf': 750, 'model__n_estimators': 100}
mean = 0.11926 || std = 0.00342 || time [s] = 0.43802
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 50, 'model__min_samples_leaf': 400, 'model__n_estimators': 20}
mean = 0.117 || std = 0.00395 || time [s] = 1.06067
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 50, 'model__min_samples_leaf': 400, 'model__n_estimators': 50}
mean = 0.12103 || std = 0.00447 || time [s] = 1.60805
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 50, 'model__min_samples_leaf': 400, 'model__n_estimators': 75}
mean = 0.12399 || std = 0.004 || time [s] = 2.41451
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 50, 'model__min_samples_leaf': 400, 'model__n_estimators': 100}
mean = 0.11737 || std = 0.00385 || time [s] = 0.41848
Best params: {'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 50, 'model__min_samples_leaf': 500, 'model__n_estimators': 20}

In [30]:
acc_agg = []
dop_agg = []
f1_agg = []
for name, best_model, best_param in zip(names_agg, best_models_agg, best_params_agg):
    acc_agg.append(accuracy_score(best_model.predict(X_test), y_test)*100)
    dop_agg.append(accuracy_score(best_model.predict(X_train), y_train)*100)
    f1_agg.append(f1_score(y_true=y_test, y_pred=best_model.predict(X_test))*100)

wyniki1 = pd.DataFrame({
    'Model': names_agg, 'Jakość predykcji': acc_agg, 'Dopasowanie': dop_agg, 
    'F1': f1_agg, 'Najlepsze parametry': best_params_agg
})
wyniki1

,Model,Jakość predykcji,Dopasowanie,F1,Najlepsze parametry
0,LogisticRegression,92.05,92.03,10.60,"{'model__C': 0.1, 'model__class_weight': {0: 0.5, 1: 10}, 'model__penalty': 'l2', 'model__tol': 0.1}"
1,XGBoost,95.95,98.59,7.84,"{'model__learning_rate': 0.01, 'model__max_depth': 50, 'model__n_estimators': 75}"
2,RandomForestClassifier,95.40,95.35,13.23,"{'model__class_weight': {0: 0.5, 1: 10}, 'model__max_depth': 100, 'model__min_samples_leaf': 400, 'model__n_estimators': 50}"

**Podobnie jak w jupyterze 'full' najlepszy wynik dał las losowy, jednak wynik wyszedł gorszy - przy czym tutaj zastosowano zarówno wypełnienie braków w danych średnimi (tam: zerami), ponadto usunięto zmienne var, które nie były dobrze wyjaśnione w opisie danych. Można zatem uznać, że rozwiązanie z poprzedniego jupytera jest lepsze.**